<div class="margin-content">
  <div class="title-page title-page-single">
    {{ titlePage }}
  </div>
  <span *ngIf="syndication.isSupported" class="icon icon-syndication" 
          [popover]="feedsList"
          placement="bottom"
          [outsideClick]="true">
  </span>

  <ng-template #feedsList>
    <div *ngFor="let key of syndication.items | keys">
      <a [href]="syndication.items[key]">{{ key }}</a>
    </div>
  </ng-template>

  <div *ngIf="pagination.totalItems === 0">No results.</div>
  <div
    myInfiniteScroller
    [pageHeight]="pageHeight"
    (nearOfTop)="onNearOfTop()" (nearOfBottom)="onNearOfBottom()" (pageChanged)="onPageChanged($event)"
    class="videos" #videosElement
  >
    <div *ngFor="let videos of videoPages" class="videos-page">
      <my-video-miniature
        class="ng-animate"
        *ngFor="let video of videos" [video]="video" [user]="user"
      >
      </my-video-miniature>
    </div>
  </div>
</div>
